<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ua">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ZNO-Player</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&display=swap" rel="stylesheet">
</head>
<style>
    body{
        margin: 0 !important;
    }
    .container{
        padding: 0 !important;
        margin: 0 !important;
        min-width: 280px;
        min-height: 480px;
        flex-wrap: nowrap;
        display: flex;
        background: #585858;
        justify-content: space-around;
    }
    .container #header_text,
    .container #header_img{
        color: #ffc39f;
        flex-grow: 1;
    }
    .container #header_text{
        margin-left: 40px;
    }
    .container #header_text h1{
        margin-top: 120px;
        font-size: 300%;
        font-family: 'Oswald', sans-serif;
        min-width: 320px;
    }
    .container #header_text p{
        margin-top: 5px;
        font-size: 200%;
        font-family: 'Advent Pro', sans-serif;
    }
    .container #header_img{
        width: auto;
        text-align: center;
    }
    .container #header_img img{
        display: inline-block;
        height: 80%;
    }
</style>
<body>
<!--<p th:text="'Hello, ' + ${name} + '!'"></p>-->
<div class="container">
    <div id="header_text">
        <h1>ZNO-Player</h1>
        <p>Everything to make student life easier !</p>
    </div>
    <div id="header_img">
        <img src="https://zno-player.tk/images/header_img.png" alt="preparing to exam">
    </div>
</div>
</body>
</html>